$prefix: "../img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg",
    $prefix+"about/about-s3.jpg",
    $prefix+"about/about-s4.jpg",
    $prefix+"about/about-s5.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"index/index-s1.jpg",
    $prefix+"index/index-s2.jpg",
    $prefix+"index/index-s3.jpg",
    "",
    $prefix+"index/index-s5.jpg",
    "",
    $prefix+"index/index-s7.jpg",
    $prefix+"index/index-s8.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__shop-img: $prefix+"shop/shop-s1.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "shop",
    "user";
$bg__aoa:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__shop-img,
    $bg__user-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 